{% load static %}
{% load return_item %}

    <table class="striped">
        <thead >
            <tr >
                <th >Stations</th>
                <th >Parameters</th>
                <th>From</th>
                <th>To</th>
                <th class="removeoutlier">Remove Outlier</th>
                <th class="fillingdata">Filling Data</th>
                <th class="check">Download (or analysis)<input type="checkbox" class="selectAll"/></th>
                <th> Statistics </th>
            </tr>
        </thead>

        <tbody>
            {% for id, name in id_name_list %}
                {% for data in data_dict|return_item:id %}
                <tr>
                    <td class= "{{data.0}}" id = {{id}} >{{name}}</td>
                    <td class= "{{data.0}}" id = {{ "Variable_"|add:id|stringformat:"s_"|add:data.0|stringformat:"s"}} >{{data.0}}</td>
                    <td class="starttime">
                        <input type="text" id = {{ "Starttime_"|add:id|stringformat:"s_"|add:data.0|stringformat:"s"}} value="{{data.1}}" >
                    </td>
                    <td class="endtime" >
                        <input type="text" id = {{ "Endtime_"|add:id|stringformat:"s_"|add:data.0|stringformat:"s"}} value="{{data.2}}">
                    </td>

                    <td class="removeoutlier">
                        <input type="checkbox" class="ck_removeoutlier" id = {{ "Removeoutlier_"|add:id|stringformat:"s_"|add:data.0|stringformat:"s"}} onclick="">
                    </td>

                    <td class="fillingdata">
                        <input type="checkbox" class="ck_fillingdata" id = {{ "Fillingdata"|add:id|stringformat:"s_"|add:data.0|stringformat:"s"}} onclick="">
                    </td>

                    <td class="check">
                        <input type="checkbox" class="ck_download" sitename = "{{name}}" id = {{ "Check_"|add:id|stringformat:"s_"|add:data.0|stringformat:"s"}} onclick="">
                    </td>

                    <td class="graph">
                        <span class="button small fa fa-bar-chart" title="Graph" id = {{ "Graph_"|add:id|stringformat:"s_"|add:data.0|stringformat:"s"}}> </span>
                    </td>
                </tr>

                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <div class="data-filter text-center">
        <span class="button primary" title="Download Selected Data" id="Download">Download Data</span>
        <span class="button primary" title="Multivariable statistic" id="multivariable-statistic">Multivariable analysis</span>
        <span class="button primary" title="Compare with model result" id="compare-model">Compare with model result</span>
        <span class="button primary" title="Export to WGN" id="swat-wgn">Export to WGN</span>
        <span class="button primary" title="Delete data" id="delete-data">Delete data</span>
    </div>
