{% extends "base.html" %}
{% load static %} 
{% block content %}      
           
<section class="blog-wrapper">
    <div class="container">
        <div class="row">
            <h1>Successfull Importing</h1>
            <div class="col md-12">
                <div class="blog blog-container">
                    <div class="blog-content">
                        <p>You had successfullly import your data. Do you want to insert more data ?</p>
                        <p class="text-center">
                        <div class="row tool-group centered">
                            <a href="/database/upload_methods">
                                <div class="col xs-4 tool ">
                                    <i class="fa fa-medium"></i>
                                    <div class="label"> Import Methods</div>
                                </div>
                            </a>
                            <a href="/database/upload_sources">
                                <div class="col xs-4 tool">
                                    <i class="fa fa-database"></i>
                                    <div class="label">Import Sources</div>
                                </div>
                            </a>
                            <a href="/database/upload_variables">
                                <div class="col xs-4 tool">
                                    <i class="fa fa-cubes"></i>
                                    <div class="label">Import Variables</div>
                                </div>
                            </a>
                            <a href="/database/upload_sites">
                                <div class="col xs-4 tool">
                                    <i class="fa fa-file-code-o"></i>
                                    <div class="label">Import Sites</div>
                                </div>
                            </a>
                            <a href="/database/upload_datavalues">
                                <div class="col xs-4 tool">
                                    <i class="fa fa-list-alt"></i>
                                    <div class="label">Import Datavalues</div>
                                </div>
                            </a>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}